extends  base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
        include ../static/style.css
        include ../static/styleabout.css

block content
    div.background
        img(src="/static/img/p1.jfif")
    h1 About us 
    div.container
        p Parag Academy's journey started 13 years ago. Dance Styles: We teach the following dance styles – Bollywood, Jazz, Salsa, Hip Hop, Contemporary, Jive Rock n Roll, Afro Jazz, Broadway Jazz, Lyrical, Krump, Waacking & Jazz Funk. We also have a special batch for Kids from the age of 3 n half to 9years.
    footer#footer 
        | Copyright &copy 2021 ParagDanceAcademy.com